body {
	background: #EEF;
}

#container {
	background: #FEE;
	border:1px solid black;
}

#header {
	background: #EFE;
	border:1px solid black;
}

#main {
	background: #EEF;
	border:1px solid black;
	overflow: hidden;
}

#footer {
	background: #FFF;
	border:1px solid black;
}

.content, .right_sidebar {
	outline:1px solid black;
	height: 10em;
}
.content {
	background: #040;
	color: white;
	width: 70%;
	float: left;
}

.right_sidebar {
	background: #FF9;
	width: 30%;
	float: left;
}

ul {list-style: none outside}