* {
	padding: 0;
	margin: 0;
}

body {
	margin: 1em;
	padding: 1em;
	font: 16px/1.5 Arial, sanf-serif;
}

#container {
	margin: 1em;
	padding: 1em;
}

#header {
	margin: 1em;
	padding: 1em;
}

#main {
	margin: 1em;
	padding: 1em;
}

#footer {
	margin: 1em;
	padding: 1em;
}

